include AUTHORS
include LICENSE
include README.rst
include CONTRIBUTING.rst
include HISTORY.rst
include requirements.txt
include requirements-tests.txt
recursive-include djangocms_helper *.html *.png *.gif *js *jpg *jpeg *svg *py *mo *po
