-r requirements.txt
coverage==5.1
coveralls>=2.0
wheel==0.34.2
pep517==0.8.2
invoke==1.4.1
tox>=1.8
aldryn-boilerplates==0.8.0
https://github.com/divio/django-filer/archive/develop.zip
pyflakes==2.2.0
pytest==5.4.3
pytest-django==3.9.0
bump2version==1.0.0
https://github.com/hawkowl/towncrier/archive/master.zip
