-r requirements.txt
coverage
coveralls>=2.0
wheel==0.34.2
pep517
invoke
tox>=1.8
aldryn-boilerplates
https://github.com/divio/django-filer/archive/develop.zip
pyflakes<2.1
pytest
pytest-django
bump2version
https://github.com/hawkowl/towncrier/archive/master.zip
